{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header"><h3 class="card-title">{% if edit_mode %}Edit Student{% else %}Add New Student{% endif %}</h3></div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="card-footer text-end">
        <a href="{% url 'student_list' %}" class="btn btn-ghost-secondary d-none d-sm-inline-block float-start">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
          Back to Student List
        </a>
        <button type="submit" class="btn btn-primary">Save Student</button>
      </div>
    </form>

    <!-- <div class="col-auto ms-auto">
      <div class="btn-list">
        
      </div>
    </div> -->

  </div>
</div>
{% endblock %}