{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-status-top bg-danger"></div>
  <div class="card-body text-center py-4">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
    <h3>Are you sure??????????????</h3>
    <div class="text-muted">Do you really want to delete student <strong>{{ student.first_name }} {{ student.last_name }}</strong>? This action cannot be undone.</div>
  </div>
  <div class="card-footer text-center">
    <form method="post">
      {% csrf_token %}
      <a href="{% url 'student_list' %}" class="btn btn-link link-secondary">Cancel</a>
      <button type="submit" class="btn btn-danger">Yes, Delete Student</button>
    </form>
  </div>
</div>
{% endblock %}